<%- include("../partials/header") %>

<div class = "container">
    

</div>

  <%- include("../partials/footer") %>



<!-- const stock = require('../models/stock');

var data = new stock[{
        StockName : Hindustan Unilever,
        BuyPrice : Rs.1200,
        Target : Rs. 1350,
        StopLoss : Rs.1100,
        id :1,
        PostDate:{
            startdate: ,
            enddate : ,
        }
        product : ,
        exchange : ,
        comment : ,
    }
    {
        StockName : Hindustan Unilever,
        BuyPrice : Rs.1200,
        Target : Rs. 1350,
        StopLoss : Rs.1100,
        id :1,
        PostDate:{
            startdate: ,
            enddate : ,
        }
        product : ,
        exchange : ,
        comment : , 
    }
    {
        StockName : Hindustan Unilever,
        BuyPrice : Rs.1200,
        Target : Rs. 1350,
        StopLoss : Rs.1100,
        id :1,
        PostDate:{
            startdate: ,
            enddate : ,
        }
        product : ,
        exchange : ,
        comment : ,
    }
    ]
} -->