<%- include("../partials/header") %>
<div class="container">
    <h1>
        Your Free Trial has been activated.
    </h1>
    <p>
        You can access to all premium content for next 5 days.
    </p>
</div>
<%- include("../partials/footer") %>


