<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Share Wala Stock Recommendation</title>

  <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
<style>
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
} 
</style>
</head>
<body>
<!--Navbar -->
<!-- add class="mb-2"  in nav class= in line 23 -->
 <nav class=" navbar navbar-expand-lg sticky-top navbar-dark lighten-1 unique-color-dark" >
  <a class="navbar-brand" href="/" ><i style="font-size:24px;color:green" class="fa">&#xf155;</i><i style="font-size:24px;color:green" class="fa">&#xf155;</i>&nbsp; Share Wala</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#"> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/showall">Today's Top Picks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subscription">Subscribe</a>
      </li>
      <% if(!name){ %>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
    <% }else{  var name = "Guest"; %> 
      <li class="nav-item">
        <a class="nav-link" href="#"> Welcome, <%= name %> </a>
      </li>
    <% } %>
      <li class="nav-item">
        <a class="nav-link" href="/showall">All Tips</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Other Functions
        </a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">My Account</a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
          <a class="dropdown-item" href="/register">Register</a>
          <a class="dropdown-item" href="/login">Login</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
     </ul>
  </div>
</nav> 
<!--Navbar -->


