<%- include("../partials/header") %>
<div class="container">
  <!-- Jumbotron -->
<div class="jumbotron p-0">

  <!-- Card image -->
  <div class="view overlay rounded-top">
    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(134).jpg" class="img-fluid" alt="Sample image">
    <a href="#">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center mb-3">

    <!-- Title -->
    <h3 class="card-title h3 my-4"><strong>ADMIN Dashboard</strong></h3>
    <!-- Text -->
    <p class="card-text py-2">Quick Links</p>
    <!-- Button -->
    <a href="/admin/create" class="btn purple-gradient btn-rounded mb-4">Add Tip</a>
    <a href="/admin/showallusers" class="btn purple-gradient btn-rounded mb-4">All Users</a>
    <a href="/admin/showall" class="btn purple-gradient btn-rounded mb-4">Manage All Tips</a>
    <a href="/admin/todaytop" class="btn purple-gradient btn-rounded mb-4">Manage Today's Tips</a>
  </div>

</div>
<!-- Jumbotron -->
</div>
<%- include("../partials/footer") %>