<!-- 
<%- include ("../partials/header") %>

<div class="container mt-5">
    <div class="container jumbotron">
        <h1>Login!!!</h1>
    </div>
    <form action="/login" method="POST">
        <input class="form-control" type="text" name="username" placeholder="Email">
        <input class="form-control mt-1" type="password" name="password" placeholder="password">
        <button class="btn btn-sm btn-success mt-3">Submit</button>
    </form>
<a href="/campgrounds" class="btn btn-sm btn-info">Go back</a>

<a href="/register" class="btn btn-sm btn-link">If new user then Signup</a>
</div>

<%- include("../partials/footer") %>
 -->
