
<%- include ("../partials/header") %>

<div class="container">
    
    <div class="jumbotron text-center" style="background-color: black; color:aliceblue;">
        <h1><span class="fa fa-lock"></span> Welcome! </h1>
        <h5>Find out the best PortFolio Management Services!</h5>
        <p>Login or Register here with:</p>

        <a href="/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

    </div>

</div>
    <%- include("../partials/footer") %>


